<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Git Gurus ✨</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <span>IETNexus</span>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Study Material</li>
                    <li>Seniors' Corner</li>
                    <li>Community</li>
                    <button>Student Profile</button>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-text">
                <h1>Ignite Your Academic Odyssey with IETNexus.</h1>
                <h3>Share, Learn, Connect, Excel</h3>
                <p>At IETNexus, we empower IET-DAVV students with diverse study materials and connections to excel in their academic journey.</p>
                <div class="main-text-action">
                    <button id="get-started">Get Started</button>
                    <button id="learn-more">Learn More</button>
                </div>
            </div>
            <div class="main-image">
                
            </div>
        </main>
        <div class="circle-spread-1"></div>
        <div class="circle-spread-2"></div>
        <section class="statistics">
            <div id="statheadline">
                <h2>Our Impact</h2>
                <p>A Glimpse of Our Community</p>
            </div>
            <div id="statcontent">
                <div id="artwork">
                    <p>Study Material Shared</p>
                    <h3>27k+</h3>
                </div>
                <div id="auction">
                    <p>Seniors Ready to Help</p>
                    <h3>25k+</h3>
                </div>
                <div id="artist">
                    <p>Courses Covered</p>
                    <h3>12k+</h3>
                </div>
                <div id="users">
                    <div class="users-head">
                        <h6>IETNexus</h6>
                        <h4>2023</h4>
                    </div>
                    <div id="users-img">
                        <div class="user-img" id="user-img-1"></div>
                        <div class="user-img" id="user-img-2"></div>
                        <div class="user-img" id="user-img-3"></div>
                        <div class="user-img" id="user-img-4"></div>
                        <div class="user-img" id="user-img-5"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="trending">
            <div class="trending-banner">
                <div class="trending-img"><div class="book-cover"></div></div>
                <div class="trending-img"><div class="book-cover"></div></div>
                <div class="trending-img"><div class="book-cover"></div></div>
                <div class="trending-img"><div class="book-cover"></div></div>
            </div>
            <div class="trending-content">
                <p>Trending Study Materials</p>
                <h2>What's Trending This Week?</h2>
                <p>Stay updated with the latest in academia. Explore this week's trending study materials and insights to stay ahead in your studies.</p>
                <h5>See all</h5>
            </div>
        </section>
        <section class="top-list-artist">
            <div class="top-list-content">
                <p>Artist</p>
                <h2>Top Contributors.</h2>
                <p>Meet our top student contributors who drive academic excellence in our community.</p>
            </div>
            <div class="top-list-banner">
                <div class="top-list-img">
                    <div class="top-artist-image"></div>
                    <div class="top-artist-info">
                        <h5>Naman Joshi</h5>
                        <p>CSE, 3rd Year</p>
                    </div>
                    <div class="top-artist-banner"></div>
                </div>
                <div class="top-list-img">
                    <div class="top-artist-image"></div>
                    <div class="top-artist-info">
                        <h5>Atharv Shourya</h5>
                        <p>ETC, 2nd Year</p>
                    </div>
                    <div class="top-artist-banner"></div>
                </div>
            </div>
        </section>
        <section class="publications">
            <div class="publication-img"><img src="arihant.png" alt=""></div>
            <div class="publication-img"><img src="nbt.png" alt=""></div>
            <div class="publication-img"><img src="halchette.png" alt=""></div>
            <div class="publication-img"><img src="s-chand.png" alt=""></div>
            <div class="publication-img"><img src="alrahelah.png" alt=""></div>
        </section>
        <section class="subscribe">
            <h1>Subscribe to get Latest Academic Updates.</h1>
            <p>Don't miss out on valuable academic news, study tips, and resource updates. Subscribe to IETStudy to stay ahead in your educational journey.</p>
            <button id="subscribe">Subscribe</button>
        </section>
        <footer>
            <div class="footer-div footer-head">
                <h4 class="footer-list-head">IETNexus</h4>
                <p>Elevate your academic journey at IET DAVV.<br>Share materials, connect with seniors, and thrive in a vibrant learning community. Join us now!
                <div class="social">
                    <div class="social-handle"></div>
                    <div class="social-handle"></div>
                    <div class="social-handle"></div>
                    <div class="social-handle"></div>
                </div>
                <span class="copyright">Copyright © 2023 IETNexus.<br>All rights reserved.</span>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Explore</h4>
                <ul class="footer-list">
                    <li class="footer-link">Study Material</li>
                    <li class="footer-link">Seniors' Corner</li>
                    <li class="footer-link">Community</li>
                </ul>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Statistic</h4>
                <ul class="footer-list">
                    <li class="footer-link">Ranking</li>
                    <li class="footer-link">Activity</li>
                </ul>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Resource</h4>
                <ul class="footer-list">
                    <li class="footer-link">Branches</li>
                    <li class="footer-link">Books</li>
                    <li class="footer-link">Notes</li>
                    <li class="footer-link">FAQ</li>
                </ul>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">The Git Gurus</h4>
                <ul class="footer-list">
                    <li class="footer-link">About Us</li>
                    <li class="footer-link">Contribute</li>
                    <li class="footer-link">Support</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>