<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Git Gurus ✨</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <span>The Git Gurus</span>
            <nav>
                <ul>
                    <li>Collection</li>
                    <li>Market Place</li>
                    <li>Community</li>
                    <button>Connect Wallet</button>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-text">
                <h1>Ignite Your Academic Odyssey with IETStudy.</h1>
                <h3>Share, Learn, Connect, Excel</h3>
                <p>At IETStudy, we empower students of IET DAVV to take control of their education journey. Explore a diverse collection of study materials and connect with fellow students and seniors to excel in your academics.</p>
                <div class="main-text-action">
                    <button id="get-started">Get Started</button>
                    <button id="learn-more">Learn More</button>
                </div>
            </div>
            <div class="main-image">
                
            </div>
        </main>
        <div class="circle-spread-1"></div>
        <div class="circle-spread-2"></div>
        <section class="statistics">
            <div id="artwork">
                <p>Study Material Shared</p>
                <h3>27k+</h3>
            </div>
            <div id="auction">
                <p>Seniors Ready to Help</p>
                <h3>25k+</h3>
            </div>
            <div id="artist">
                <p>Courses Covered</p>
                <h3>12k+</h3>
            </div>
            <div id="users">
                <div class="users-head">
                    <h6>Art</h6>
                    <h4>3.4 ETH</h4>
                </div>
                <div id="users-img">
                    <div class="user-img" id="user-img-1"></div>
                    <div class="user-img" id="user-img-2"></div>
                    <div class="user-img" id="user-img-3"></div>
                    <div class="user-img" id="user-img-4"></div>
                    <div class="user-img" id="user-img-5"></div>
                </div>
            </div>
        </section>
        <section class="trending">
            <div class="trending-banner">
                <div class="trending-img"><div class="book-cover"></div></div>
                <div class="trending-img"><div class="book-cover"></div></div>
                <div class="trending-img"><div class="book-cover"></div></div>
                <div class="trending-img"><div class="book-cover"></div></div>
            </div>
            <div class="trending-content">
                <p>Popular Item</p>
                <h2>What's Trending This Week?</h2>
                <p>Stay updated with the latest in academia. Explore this week's trending study materials and insights to stay ahead in your studies.</p>
                <h5>See all</h5>
            </div>
        </section>
        <section class="top-list-artist">
            <div class="top-list-content">
                <p>Artist</p>
                <h2>Meet Our Top Contributors</h2>
                <p>Our community thrives on the dedication of students like you. Meet some of our top contributors who are making academic excellence a reality.</p>
            </div>
            <div class="top-list-banner">
                <div class="top-list-img">
                    <div class="top-artist-image"></div>
                    <span>quotes</span>
                    <div class="top-artist-info">
                        <h5>Naman Joshi</h5>
                        <p>CSE, 3rd Year</p>
                    </div>
                </div>
                <div class="top-list-img">
                    <div class="top-artist-image"></div>
                    <span>quotes</span>
                    <div class="top-artist-info">
                        <h5>Naman Joshi</h5>
                        <p>CSE, 3rd Year</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="publications">
            <div class="publication-img"></div>
            <div class="publication-img"></div>
            <div class="publication-img"></div>
            <div class="publication-img"></div>
            <div class="publication-img"></div>
        </section>
        <section class="subscribe">
            <h1>Subscribe for Academic Updates</h1>
            <p>Don't miss out on valuable academic news, study tips, and resource updates. Subscribe to IETStudy to stay ahead in your educational journey.</p>
            <button id="subscribe">Subscribe</button>
        </section>
        <footer>
            <div class="footer-div">
                <h4 class="footer-list-head">The Git Gurus</h4>
                <p>Explore, Contribute, Contact Us, Privacy Policy, Terms of Service</p>
                <div class="social">
                    <div class="social-handle"></div>
                    <div class="social-handle"></div>
                    <div class="social-handle"></div>
                    <div class="social-handle"></div>
                </div>
                <span class="copyright">© 2023 IETStudy. All rights reserved.</span>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Explore</h4>
                <ul class="footer-list">
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                </ul>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Statistic</h4>
                <ul class="footer-list">
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                </ul>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Resource</h4>
                <ul class="footer-list">
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                </ul>
            </div>
            <div class="footer-div">
                <h4 class="footer-list-head">Company</h4>
                <ul class="footer-list">
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                    <li class="footer-link">ab</li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>