<!DOCTYPE html>
<html>
<head>
    <title>Study Material Upload Success!</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="upload-success-container">
        <div class="upload-success-content">
            <h1 class="upload-success-head">Study Material Uploaded Successfully!</h1>
            <p class="upload-success-para">Thank you for sharing your study material with the 'IETNexus' community. Your contribution is valuable.</p>
            <a class="back-to-home" href="/home">Back to Home</a>
        </div>
    </div>
</body>
</html>